# Compiler files
cache/
out/
dist/
node_modules/
.next/
frontend/.next/
frontend/dist/
frontend/node_modules/
backend/dist/
backend/node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv files
.env*
frontend/.env
frontend/.env.*
contracts/.env
contracts/.env.*
!.env.example
!frontend/.env.example
!contracts/.env.example
